# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code
.vscode/

# Misc
*.log
.DS_Store
